*{
    margin: 0;
    box-sizing: border-box;
}
html, body{
    background-image: url("../utils/img/jornal.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 10px;
    overflow: scroll;
    height: 100vh;
    border: 30px solid #dad0b5; 
}
header > h1, h2{
    font-variant: small-caps;
    text-align: center;
    overflow: hidden;
}
header, h3{
    background-image: linear-gradient(to right, gray, transparent);
    color: rgba(255, 255, 255, 0.7)
}
p{
    background-color: #e2dcc6;
    color: #000;
    text-shadow: 0px 2px 0px #fff, 0px -1px 0px #fff;
    padding: 5px;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}
h3{
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
p#noticia{
    text-indent: 50px; 
    padding: 10px;
}
p#lateral{
    float:left;
    text-indent: 30px;
    margin-top: -130px;
    margin-left: 180px;
}
a{
    color:#000;
    text-shadow: 0px 2px 0px #fff, 0px -1px 0px #fff;
    text-decoration: none;
    flex-wrap: wrap;

}
a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 500px){
    p#lateral{
        float: none;
        text-indent: 0px;
        margin-top: 10px;
        margin-left: 0px;
    }
}
